<div class="geek-carousel">
    <h3>{{productLists.name}}</h3>
    <hr>
    <div class="geek-carousel-container">
        <div class="geek-button-control geek-button-prev"><span><i class="fa fa-caret-left" aria-hidden="true"></i></span></div>
        <div class="geek-button-control geek-button-next"><span><i class="fa fa-caret-right" aria-hidden="true"></i></span></div>
        <div class="swiper-wrapper">
            {{#each productLists.products}}
                <a href="/{{this.urlName}}/{{this.entityId}}">
                    <div class="swiper-slide">
                        <img src="{{this.images}}" alt="{{this.name}}" />
                        <div class="geek-product-data">
                        </div>
                        <div class="geek-product-data-text">
                            <p>{{this.name}}</p>
                        </div>
                    </div>
                </a>
            {{/each}}
        </div>
    </div>
</div>
